In [1]:
import sys
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, select, engine

print('Python v' + sys.version)
print('------------------------------------------------------------------------------')
print('Pandas v' + pd.__version__)
print('SQLAlchemy v' + sqlalchemy.__version__)

Python v3.9.5 (tags/v3.9.5:0a7dcbd, May  3 2021, 17:27:52) [MSC v.1928 64 bit (AMD64)]
------------------------------------------------------------------------------
Pandas v1.1.4
SQLAlchemy v1.3.20

In [2]:
DB = {
    'drivername': 'mssql+pyodbc',
    'servername': 'VERDI',
    'port': '1433',
    'username': 'nebojsa',
    'password': 'tras659',
    'database': 'SANiN',
    'driver': 'SQL Server Native Client 11.0',
#     'trusted_connection': 'yes',  
#     'legacy_schema_aliasing': 'False'
}

# conn_string = DB['drivername'] + '://' + DB['username'] +':' + DB['password'] + '@' + DB['servername'] + ':' + DB['port'] + '/' + DB['database'] + '?' + 'driver=' + DB['driver']
# print(conn_string)

#  mssql+pyodbc://nebojsa:tras659@VERDI:1433/SANiN?driver=SQL Server Native Client 11.0
    
# Kreiranje konekcije sa MSSQL
engine = create_engine(
    DB['drivername'] 
    + '://' 
    + DB['username'] 
    +':'
    + DB['password'] 
    + '@' 
    + DB['servername'] 
    + ':' 
    + DB['port']
    + '/' 
    + DB['database'] 
    + '?' 
    + 'driver=' 
    + DB['driver'])
conn = engine.connect()

# Required for querying tables
metadata = MetaData(conn)

In [3]:
df1 = pd.read_sql_query("[dbo].[mp_scada] 'SCADA_2021'", engine)
df1.head()

,vreme,I-1-LJB,I-BBV-2,BBV_II-8,I-2-DIV,I-3-MOK,I-4-KR1,I-4-KR2,I-V-6,I-5-STU,...,M-20-100-15,M-20-30-14,M-20-30-22,M-20-40-18,M-20-40-21,M-20-50-23,M-40-50-16,M-50-60-19,M-80-140-29,M-90-91-20
0,2021-01-01 00:00:00,99.6,60.8,30.80,147.2,313.6,0.0,0.0,534.5,242.73,...,19.44,2.10,64.8,62.8,17.6,0.0,0.0,37.1,45.2,10.1
1,2021-01-01 00:10:00,98.8,60.8,10.35,146.4,313.6,0.0,0.0,544.8,242.70,...,18.48,1.68,65.2,64.0,12.2,0.0,0.0,38.8,46.0,12.7
2,2021-01-01 00:20:00,99.2,60.8,0.02,147.2,313.6,0.0,0.0,524.8,242.82,...,18.96,0.02,64.4,63.2,15.3,0.0,0.0,37.5,45.8,12.7
3,2021-01-01 00:30:00,99.6,60.8,0.02,147.2,313.6,0.0,0.0,529.9,242.85,...,19.76,1.04,64.4,63.2,14.2,0.0,0.0,39.1,56.1,12.5
4,2021-01-01 00:40:00,99.2,60.8,0.02,146.4,313.6,0.0,0.0,528.0,242.76,...,19.84,2.00,64.0,62.8,12.4,0.0,0.0,40.0,56.4,12.0

In [4]:
df2 = pd.read_sql_query("[dbo].[mp_scada_rez] 'SCADA_2021'", engine)
df2.head()

,vreme,Vinik,Krupac,Bubanj,Matejevac_2,Miljkovac,Toplik_B,Toplik_PS
0,2021-01-01 00:00:00,3.08,3.24,3.93,2.93,2.01,6.43,2.31
1,2021-01-01 00:10:00,3.10,3.22,4.00,2.81,1.94,6.43,2.30
2,2021-01-01 00:20:00,3.10,3.20,4.06,2.69,1.94,6.43,2.30
3,2021-01-01 00:30:00,3.12,3.15,4.12,2.60,1.95,6.43,2.31
4,2021-01-01 00:40:00,3.12,3.11,4.10,2.59,1.96,6.43,2.31

In [5]:
df3 = pd.read_sql_query("[dbo].[mp_scada_p] 'SCADA_2021'", engine)
df3.head()

,vreme,I-1-LJB,I-BBV-2,BBV_II-8,I-2-DIV,I-3-MOK,I-4-KR1,I-4-KR2,I-V-6,I-5-STU,...,M-20-100-15,M-20-30-14,M-20-30-22,M-20-40-18,M-20-40-21,M-20-50-23,M-40-50-16,M-50-60-19,M-80-140-29,M-90-91-20
0,2021-01-01 00:00:00,7.41,8.34,1.98,1.38,1.32,4.65,0.0,5.15,0.0,...,6.2,3.94,6.32,0.0,4.56,6.30,5.12,5.60,3.76,6.7
1,2021-01-01 00:10:00,7.41,8.34,1.94,1.39,1.33,4.64,0.0,5.13,0.0,...,6.2,3.96,6.28,0.0,4.56,6.28,5.12,5.60,3.76,6.7
2,2021-01-01 00:20:00,7.43,8.34,1.92,1.38,1.33,4.63,0.0,5.16,0.0,...,6.2,3.96,6.28,0.0,4.56,6.29,5.12,5.61,3.76,6.7
3,2021-01-01 00:30:00,7.43,8.34,1.92,1.38,1.33,4.63,0.0,5.11,0.0,...,6.2,3.95,6.28,0.0,4.56,6.29,5.12,5.61,3.76,6.7
4,2021-01-01 00:40:00,7.41,8.34,1.93,1.39,1.32,4.63,0.0,5.08,0.0,...,6.2,3.95,6.28,0.0,4.56,6.32,5.12,5.61,3.76,6.7

In [6]:
TableName = 'SCADA_2021'

df1.to_csv(TableName+'.csv', index=False)

df2.to_csv(TableName+'_REZ.csv', index=False)

df3.to_csv(TableName+'_p.csv', index=False)

print('Done')

Done

In [7]:
print(df1.columns) 
print("")
print(df2.columns) 
print("")
print(df3.columns)

Index(['vreme', 'I-1-LJB', 'I-BBV-2', 'BBV_II-8', 'I-2-DIV', 'I-3-MOK',
       'I-4-KR1', 'I-4-KR2', 'I-V-6', 'I-5-STU', 'MRB', 'III-8', 'M-70-81-17',
       'I-7-M10', 'I-7-M11', 'I-7-M2', 'I-6-MLJ', 'M-20-992-13', 'M-20-992-27',
       'M-170-992-34', 'M-190-21-35', 'M-100-120-9', 'M-10-100-11',
       'M-10-20-1', 'M-10-20-12', 'M-10-40-3', 'M-10-40-4', 'M-10-50-5',
       'M-10-60-6', 'M-10-80-7', 'M-10-80-8', 'M-10-90-10', 'M-10-90-32',
       'M-120-150-28', 'M-20-100-15', 'M-20-30-14', 'M-20-30-22', 'M-20-40-18',
       'M-20-40-21', 'M-20-50-23', 'M-40-50-16', 'M-50-60-19', 'M-80-140-29',
       'M-90-91-20'],
      dtype='object')

Index(['vreme', 'Vinik', 'Krupac', 'Bubanj', 'Matejevac_2', 'Miljkovac',
       'Toplik_B', 'Toplik_PS'],
      dtype='object')

Index(['vreme', 'I-1-LJB', 'I-BBV-2', 'BBV_II-8', 'I-2-DIV', 'I-3-MOK',
       'I-4-KR1', 'I-4-KR2', 'I-V-6', 'I-5-STU', 'MRB', 'III-8', 'M-70-81-17',
       'I-7-M10', 'I-7-M11', 'I-7-M2', 'I-6-MLJ', 'M-20-992-13', 'M-20-992-27',
       'M-170-992-34', 'M-190-21-35', 'M-100-120-9', 'M-10-100-11',
       'M-10-20-1', 'M-10-20-12', 'M-10-40-3', 'M-10-40-4', 'M-10-50-5',
       'M-10-60-6', 'M-10-80-7', 'M-10-80-8', 'M-10-90-10', 'M-10-90-32',
       'M-120-150-28', 'M-20-100-15', 'M-20-30-14', 'M-20-30-22', 'M-20-40-18',
       'M-20-40-21', 'M-20-50-23', 'M-40-50-16', 'M-50-60-19', 'M-80-140-29',
       'M-90-91-20'],
      dtype='object')

In [8]:
# provere
print(type(df1.vreme))
print(type(df1.vreme[0]))

print(type(df1['I-1-LJB'])) 
print(type(df1['I-1-LJB'][0]))

<class 'pandas.core.series.Series'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas.core.series.Series'>
<class 'numpy.float64'>

In [9]:
df1.set_index("vreme", inplace=True)
df1

,I-1-LJB,I-BBV-2,BBV_II-8,I-2-DIV,I-3-MOK,I-4-KR1,I-4-KR2,I-V-6,I-5-STU,MRB,...,M-20-100-15,M-20-30-14,M-20-30-22,M-20-40-18,M-20-40-21,M-20-50-23,M-40-50-16,M-50-60-19,M-80-140-29,M-90-91-20
vreme,,,,,,,,,,,,,,,,,,,,,
2021-01-01 00:00:00,99.6,60.8,30.80,147.2,313.6,0.0,0.0,534.5,242.73,170.82,...,19.44,2.10,64.8,62.8,17.6,0.00,0.0,37.1,45.2,10.1
2021-01-01 00:10:00,98.8,60.8,10.35,146.4,313.6,0.0,0.0,544.8,242.70,171.26,...,18.48,1.68,65.2,64.0,12.2,0.00,0.0,38.8,46.0,12.7
2021-01-01 00:20:00,99.2,60.8,0.02,147.2,313.6,0.0,0.0,524.8,242.82,172.21,...,18.96,0.02,64.4,63.2,15.3,0.00,0.0,37.5,45.8,12.7
2021-01-01 00:30:00,99.6,60.8,0.02,147.2,313.6,0.0,0.0,529.9,242.85,173.40,...,19.76,1.04,64.4,63.2,14.2,0.00,0.0,39.1,56.1,12.5
2021-01-01 00:40:00,99.2,60.8,0.02,146.4,313.6,0.0,0.0,528.0,242.76,172.00,...,19.84,2.00,64.0,62.8,12.4,0.00,0.0,40.0,56.4,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-31 08:40:00,259.2,197.6,0.01,278.4,254.4,0.0,0.0,603.6,NaN,NaN,...,21.28,0.00,56.8,55.6,-5.5,0.31,0.0,48.9,62.5,14.1
2021-12-31 08:50:00,259.2,198.4,0.01,278.4,252.8,0.0,0.0,593.5,NaN,NaN,...,22.24,0.00,56.8,56.0,-1.7,0.32,0.0,51.7,67.2,11.7
2021-12-31 09:00:00,259.2,198.4,0.01,278.4,251.2,0.0,0.0,595.2,NaN,NaN,...,24.16,0.00,56.8,56.0,-3.2,0.32,0.0,51.7,68.5,14.8
2021-12-31 09:10:00,259.2,198.4,0.01,278.4,252.8,0.0,0.0,592.0,NaN,NaN,...,23.84,0.00,54.8,54.0,-7.4,0.32,0.0,52.7,67.6,15.4
2021-12-31 09:20:00,259.2,197.6,0.01,278.4,252.8,0.0,0.0,612.0,NaN,NaN,...,22.88,0.00,56.8,55.6,-4.8,0.31,0.0,52.7,67.9,14.1

In [10]:
df2.set_index("vreme", inplace=True)
df2

,Vinik,Krupac,Bubanj,Matejevac_2,Miljkovac,Toplik_B,Toplik_PS
vreme,,,,,,,
2021-01-01 00:00:00,3.08,3.24,3.93,2.93,2.01,6.43,2.31
2021-01-01 00:10:00,3.10,3.22,4.00,2.81,1.94,6.43,2.30
2021-01-01 00:20:00,3.10,3.20,4.06,2.69,1.94,6.43,2.30
2021-01-01 00:30:00,3.12,3.15,4.12,2.60,1.95,6.43,2.31
2021-01-01 00:40:00,3.12,3.11,4.10,2.59,1.96,6.43,2.31
...,...,...,...,...,...,...,...
2021-12-31 08:50:00,4.18,2.73,3.99,2.78,2.67,6.43,2.43
2021-12-31 09:00:00,4.18,2.82,4.03,2.92,2.66,6.43,2.43
2021-12-31 09:10:00,4.16,2.91,4.06,3.04,2.63,6.43,2.43
2021-12-31 09:20:00,4.16,3.00,4.09,3.07,2.60,6.43,2.43
2021-12-31 09:30:00,NaN,NaN,NaN,3.10,2.54,6.43,2.43

In [11]:
df3.set_index("vreme", inplace=True)
df3

,I-1-LJB,I-BBV-2,BBV_II-8,I-2-DIV,I-3-MOK,I-4-KR1,I-4-KR2,I-V-6,I-5-STU,MRB,...,M-20-100-15,M-20-30-14,M-20-30-22,M-20-40-18,M-20-40-21,M-20-50-23,M-40-50-16,M-50-60-19,M-80-140-29,M-90-91-20
vreme,,,,,,,,,,,,,,,,,,,,,
2021-01-01 00:00:00,7.41,8.34,1.98,1.38,1.32,4.65,0.0,5.15,0.0,8.34,...,6.20,3.94,6.32,0.0,4.56,6.30,5.12,5.60,3.76,6.70
2021-01-01 00:10:00,7.41,8.34,1.94,1.39,1.33,4.64,0.0,5.13,0.0,8.33,...,6.20,3.96,6.28,0.0,4.56,6.28,5.12,5.60,3.76,6.70
2021-01-01 00:20:00,7.43,8.34,1.92,1.38,1.33,4.63,0.0,5.16,0.0,8.34,...,6.20,3.96,6.28,0.0,4.56,6.29,5.12,5.61,3.76,6.70
2021-01-01 00:30:00,7.43,8.34,1.92,1.38,1.33,4.63,0.0,5.11,0.0,8.34,...,6.20,3.95,6.28,0.0,4.56,6.29,5.12,5.61,3.76,6.70
2021-01-01 00:40:00,7.41,8.34,1.93,1.39,1.32,4.63,0.0,5.08,0.0,8.31,...,6.20,3.95,6.28,0.0,4.56,6.32,5.12,5.61,3.76,6.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-31 08:40:00,7.61,8.32,1.93,1.63,1.40,4.61,0.0,4.86,NaN,NaN,...,6.20,4.04,6.36,0.0,4.48,6.45,5.13,5.68,3.51,5.76
2021-12-31 08:50:00,7.62,8.29,1.94,1.63,1.41,4.61,0.0,4.85,NaN,NaN,...,6.20,4.04,6.37,0.0,4.48,6.45,5.14,5.68,3.51,5.76
2021-12-31 09:00:00,7.62,8.28,1.94,1.63,1.41,4.63,0.0,4.84,NaN,NaN,...,6.21,4.03,6.38,0.0,4.47,6.47,5.15,5.68,3.51,5.76
2021-12-31 09:10:00,7.62,8.29,1.93,1.63,1.41,4.63,0.0,4.87,NaN,NaN,...,6.17,4.04,6.38,0.0,4.47,6.44,5.14,5.67,3.51,5.76
2021-12-31 09:20:00,7.61,8.32,1.93,1.63,1.40,4.63,0.0,4.89,NaN,NaN,...,6.16,4.02,6.36,0.0,4.47,6.46,5.12,5.67,3.51,5.77

In [12]:
# Close connection
conn.close()

In [13]:
print('GOTOVO!')

GOTOVO!